@{
    ViewData["Title"] = "home page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <h5>FOR ADMİN</a></h5>
    </p>
</div>
<img src="https://www.apple.com/v/app-store/b/images/meta/og__c59t0pflacq6.png?202111230220" class="mx-auto d-block" alt="Responsive image">
